/* TODO: refactor to use scss */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  /* flex: 0 0 10%; */
  width: 150px;
  height: auto;
  object-fit: contain;
}

.date {
  align-self: center;
  font-size: 1.5rem;
}

.data-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.map-container {
  /* flex: 1; */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 60vh;
}
.table-container {
  /* flex: 1; */
  overflow-y: auto;
}
